html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #222;
}

body {
    margin: 0;
    padding: 32px 0;
}

main > *:not(.huge-spacer):not(img):not(picture):not(.custom-class-here) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-left: 32px;
    padding-right: 32px;
}

main > img,
main > picture,
main> .custom-class-here {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn {
    background-image: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
    border-radius: 8px;
    color: #eee;
    display: inline-flex;
    padding: 16px 24px;
    text-decoration: none;
    transition-duration: 300ms;
    transition-property: transform;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
}

.huge-spacer {
    background: linear-gradient(135deg, #fff 25%, transparent 25%) -50px 0,
                linear-gradient(225deg, #fff 25%, transparent 25%) -50px 0,
                linear-gradient(315deg, #fff 25%, transparent 25%),
                linear-gradient(45deg, #fff 25%, transparent 25%);
    background-color: #f7f7f7;
    background-size: 100px 100px;
    height: 3000px;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 32px;
    position: relative;
}

.huge-spacer__animation {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll-down-tip;
    animation-timing-function: ease-in-out;
    left: 0;
    position: sticky;
    text-align: left;
    top: 0;
}

@keyframes scroll-down-tip {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(40px);
    }
    95% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.huge-spacer__text {
    font-size: 150%;
    font-weight: 900;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

h2, h3 {
    margin-top: 3em;
}

.code-block {
    background-image: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
    color: #eee;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.overflow-scroll {
    max-width: 100%;
    overflow: auto;
}

img {
    height: auto;
    max-width: 100%;
}

.custom-class-here {
    background-image: url('css-background-image.jpg');
    height: 576px;
    max-width: 100%;
    width: 768px;
}

.lazy-bg {
    background-image: none !important;
}

.text-center {
    text-align: center;
}

.link-to-outfit:hover path,
.link-to-outfit:focus path {
    fill: rgba(0,0,0,.325);
}